<div class="col-md-12">

    {{> calc-header swiper=true}}

    <div class="row">

        <div class="col-md-12">

            <div class="swiper-container">

                <div class="swiper-pagination"></div>

                <div class="swiper-wrapper">

                    {{#each groups}}
                        <div class="swiper-slide" data-parametergroup="{{{str title}}}">

                            <div class="mb-2 parameter-info">{{{str tip}}}</div>

                            <div class="card mb-5">

                                <div class="card-body">

                                    {{#each params}}
                                        <div class="form-row">

                                            <div class="form-group col-md-3 pt-2">
                                                <label for="inp_{{{id}}}"
                                                       data-toggle="tooltip" data-placement="top" title="{{{str tip}}}">
                                                    {{{str title}}}: </label>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <div class="input-group" style="padding-right: 3px">
                                                    <input id="inp_{{{id}}}" class="inp-param form-control {{#if is_cleave}}cleave-num{{/if}}"
                                                           data-toggle="tooltip" data-placement="top" title="{{{str inp_tip}}}"
                                                           type="{{#if is_cleave}}text{{else}}number{{/if}}"
                                                           min="{{{min}}}"
                                                           {{#if max}} max="{{{max}}}" {{/if}}
                                                           {{#if step}} step="{{{step}}}" {{/if}}
                                                           value="{{{value}}}"
                                                           valtype="{{{value_type}}}">
                                                    {{#if ../../isMobile}}
                                                        <span class="input-group-append">
                                                            <button class="btn btn-light inp-param-numpad-btn" style="padding: 0">
                                                                <img width="28px" src="assets/img/numpad.png"
                                                                     style="opacity: 0.5"/>
                                                            </button>
                                                        </span>
                                                    {{/if}}
                                                </div>
                                                <div class="invalid-feedback"></div>
                                            </div>

                                            <div class="form-group col-md-5 text-md-left pt-2">
                                                <span id="ctx_{{{id}}}" class="inp-ctx"
                                                      data-toggle="tooltip" data-placement="top" title="{{{str ctx_tip}}}"></span>
                                            </div>

                                        </div>

                                    {{/each}}
                                </div>

                            </div>

                        </div>

                    {{/each}}
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>

        </div>

    </div>

    <div class="row">

        {{> calc-result}}

    </div>

</div>
