<div class="col-md-12">

    <h2 class="mb-3">Calculator</h2>

    <div class="row">

        <div class="col-md-6">

            <p class="mb-3" style="color: grey; font-size: 0.8em">
                For a detailed explanation of how this whole thing works visit the 'Formula' tab in the top menu.
                Or visit the 'FAQ' page to find some common answers.
            </p>

            <h3>Define parameters:</h3>

        </div>

        <div class="col-md-6">

            <p class="mb-3" style="color: grey; font-size: 0.8em">
                ( <kbd>&uarr;</kbd> <kbd>&darr;</kbd> arrow keys may be used in the input fields)<br/>
            </p>

        </div>

    </div>

    <div id="calc-table-container-row" class="row">

        <div id="calc-table-container" class="col-md-12" style="margin-bottom: 15px;">

            <table class="calc-table">
            {{#each groups}}
                <tr class="calc-table-group-title-row">
                    <td colspan="3">
                        <div class="calc-table-group-title-span">
                            <span data-toggle="tooltip" title="{{{tip}}}">
                                <b>{{{title}}}</b></span>
                        </div>
                    </td>
                </tr>
                {{#each params}}
                <tr class="calc-table-param-row">
                    <td>
                        <label for="inp_{{{id}}}"
                            class="calc-table-param-title-label"
                            data-toggle="tooltip"
                            title="{{{tip}}}">
                            {{{title}}}: </label>
                    </td>
                    <td>
                        <input id="inp_{{{id}}}" class="inp-param {{#if is_cleave}}cleave-num{{/if}}"
                               data-toggle="tooltip"
                               title="{{{inp_tip}}}"
                               style="width: 15ch;"
                               type="{{#if is_cleave}}text{{else}}number{{/if}}"
                               min="{{{min}}}"
                               {{#if max}} max="{{{max}}}" {{/if}}
                               {{#if step}} step="{{{step}}}" {{/if}}
                               value="{{{value}}}"
                               valtype="{{{value_type}}}">
                    </td>
                    <td>
                        <span id="ctx_{{{id}}}"
                              data-toggle="tooltip"
                              title="{{{ctx_tip}}}"
                              class="inp-ctx"></span>
                    </td>
                </tr>
                {{/each}}
            {{/each}}
            </table>

        </div>

    </div>

    <div class="row">

        {{> calc-result}}

    </div>

</div>
