<div class="col-md-12">

    {{> calc-header}}

    <div id="calc-table-container-row" class="row">

        <div id="calc-table-container" class="col-md-12" style="margin-bottom: 15px;">

            <table class="calc-table">
            {{#each groups}}
                <tr class="calc-table-group-title-row">
                    <td colspan="3">
                        <div class="calc-table-group-title-span">
                            <span data-toggle="tooltip" title="{{{str tip}}}">
                                <b>{{{str title}}}</b></span>
                        </div>
                    </td>
                </tr>
                {{#each params}}
                <tr class="calc-table-param-row">
                    <td>
                        <label for="inp_{{{id}}}"
                            class="calc-table-param-title-label"
                            data-toggle="tooltip"
                            title="{{{str tip}}}">
                            {{{str title}}}: </label>
                    </td>
                    <td>
                        <div class="input-group" style="padding-right: 3px">
                            <input id="inp_{{{id}}}" class="inp-param {{#if is_cleave}}cleave-num{{/if}}"
                                   data-toggle="tooltip"
                                   title="{{{str inp_tip}}}"
                                   style="width: 15ch;"
                                   type="{{#if is_cleave}}text{{else}}number{{/if}}"
                                   min="{{{min}}}"
                                {{#if max}} max="{{{max}}}" {{/if}}
                                {{#if step}} step="{{{step}}}" {{/if}}
                                   value="{{{value}}}"
                                   valtype="{{{value_type}}}">
                            {{#if ../../isMobile}}
                                <span class="input-group-append">
                                    <button class="btn btn-light inp-param-numpad-btn" style="padding: 0">
                                        <img width="24px" src="assets/img/numpad.png"
                                             style="opacity: 0.5"/>
                                    </button>
                                </span>
                            {{/if}}
                        </div>
                    </td>
                    <td>
                        <span id="ctx_{{{id}}}"
                              data-toggle="tooltip"
                              title="{{{str ctx_tip}}}"
                              class="inp-ctx"></span>
                    </td>
                </tr>
                {{/each}}
            {{/each}}
            </table>

        </div>

    </div>

    <div class="row">

        {{> calc-result}}

    </div>

</div>
